@media screen and (min-width: 300px) and (max-width:700px) {
    /* ---MENU--- */
    .menu {
        width: 100%; 
    }
    .logo{
        height: 70px;
        width: 10px;
        margin-right: 70px;
    }

    .navegacao a{
        font-size: 9px;
        padding-bottom:40px;
        margin: 0px 1px;
    }


 /* ---IMAGEM DE ENTRADA--- */
    .fundo-inicial{
        height:100%;
        width: 100%;
    }
    .fundo-inicial img {
        height: 480px;
    }
    .titulo-fundo{
        margin-left: 160px;
    }
    .titulo-fundo img{
        height: 70px;
        width: 190px;
    }
    .titulo-fundo1{
        margin-left: 335px;
        margin-top: 450px;
    }
    .direitos a {
        padding: 5px;
        font-weight: 500;
        font-size: 12px;
    }


 /* ---LOJAS--- */
    .container-light {
        width: 100%;
    }
    .titulo-global {
        padding-top: 15px;
    }
    .titulo-global h2{
        padding: 3px 0px;
        margin-bottom: 20px;
    }
    .lojas{
        display: block;
        height:660px;

    }
    .imperial {
        padding: 9px;
        width:350px;
        margin-bottom: 15px;
        height: 260px;
    }
    .titulo {
        margin-bottom: 20px;
        font-size: 15px;
    }
   
    .areal {
        padding: 9px;
        width:350px;
        margin-bottom: 5px;
        height: 260px;
        padding-bottom: 30px;
    }

    .horarios{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;  
        font-size: 11px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .mapa{
        width: 100%;
        height: 250px;
        gap: 10px;
        display: inline-block;
    
    }
    
    .mapa iframe{
        height: 200px;
        width: 310px;
        border: 0px;
        border-radius: 25px;
    }

    .mapa-1{
        display: flex;
        margin-bottom: 10px;
    }


    /* ---BOTÃO--- */ 
    .compra a {
        padding: 5px 10px;
        border-radius: 12px;
        margin-bottom: 20px;
        font-size: 12px;
    }

     /* ---RAÇÕES--- */
    .container-black {
        width: 100%;
        height: 100%;
    }
    .titulo-global-b {
        padding-top: 50px;
    }
    .titulo-global-b h2{
        padding: 5px 0px;
        margin-bottom:50px ;
    }

    .racoes h3 {
        width: 50px;
        font-size: 12px;
    }

    .racoes img {
        height: 100px;
        border-radius: 30px;
    }
    .racoes p {
        font-size: 9px;
        padding: 3px;
        margin-bottom:10px ;
    }
    

     /* ---MEDICAMENTOS--- */ 
    .titulo-global-c {
        padding-top: 20px;
    }
    .titulo-global-c h2{
        padding: 5px 0px;
        margin-bottom:50px ;
    }

    .medicamentos {
        width: 150px;
    }
    .medicamentos h3 {
        width: 70px;
        font-size: 10px;
    }
    .medicamentos img {
        height: 85px;
    }
    .medicamentos p {
        font-size: 9px;
        padding: 5px;
    }
    .bula {
        margin-top: 10px;
    }

    .bula a{
        font-size: 12px;
        padding: 3px 20px;
    }


    
     /* ---SUPLEMENTOS--- */ 
    .suplementos {
        width: 150px;
    }

    .suplementos h3 {
        font-size: 12px;
        width: 55px;
        margin-bottom: 10px;
    }
    .suplementos img {
        height: 80px;
        border-radius: 30px;
    }
    .suplementos p {
        font-size: 12px;
        padding: 5px;
        margin-bottom: 20px;
    }
    

    /* ---AGRO--- */ 
    .agro {
        width: 250px;
    }
    .agro h3 {
        font-size:14px ;
        width: 115px;
        margin-bottom: 10px;
    }
    .agro img {
        height: 55px; 
        width: 80px;
    }
    .agro p {
        font-size: 12px;
        padding: 10px;
    }

    /* ---VACINA--- */ 
    .vacina {
        width: 159px;
    }
    .vacina:last-child {
        border-right: none;
    }
    .vacina h3 {
        font-size: 10px;
        width: 90px;
        margin-bottom: 12px;
    }
    .vacina img {
        height: 60px;
        border-radius: 30px;
        width: 80px;
    }
    .vacina p {
        font-size: 10px;
        padding: 5px;
    }

    /* ---RODAPÉ--- */ 
    footer {
        height: 115px;
        width: 100vw;
    }
    .end {
        font-size: 8px;
        margin-top:15px ;
        gap: 30px;
    }
    .end img {
        height: 50px;
        width:150px;
        margin-left: 20px;
    }
    
    .ian {
        display: flex;
        margin-top: 75px;
        margin-left: 300px;
        width: 20%;
        font-family:cursive;
        font-size: 10px;
        color: white;
        position: absolute;
    }
}

@media screen and (min-width: 701px) and (max-width:1000px) {
    /* ---MENU--- */
    .menu {
        width: 100%; 
    }
    .logo{
        height: 100px;
        width: 10px;
    }

    .navegacao a{
        font-size: 15px;
        padding-bottom:36px;
        margin: 0px 10px;
    }


 /* ---IMAGME DE ENTRADA--- */
    .fundo-inicial{
        height:582px;
    }
    .fundo-inicial img {
        height: 582px;
    }
    .titulo-fundo{
        margin-left: 480px;
    }
    .titulo-fundo img{
        height: 100px;
        width: 290px;
    }
    .titulo-fundo1{
        position:absolute;
        margin-left: 840px;
        margin-top: 550px;

    }
    .direitos a {
        padding: 5px;
        font-weight: 500;
        font-size: 15px;
    }


 /* ---LOJAS--- */
    .container-light {
        width: 790px;

    }
    .titulo-global {
        padding-top: 15px;
    }
    .titulo-global h2{
        padding: 3px 0px;
        margin-bottom: 25px;
    }
    .lojas{
        display: flex;
        height:350px;

    }
    .imperial {
        padding: 9px;
        width: 350px;
        height: 280px;
    }
    .titulo {
        margin-bottom: 20px;
    }
   
    .areal {
        padding: 9px;
        text-align: center;
        height:280px;
        width: 350px;
    }
    .mapa{
        width: 100%;
        height: 280px;
        gap: 50px;
        display: flex;
    
    }

    .horarios{
        font-size: 12px;
    }
    
    .mapa iframe{
        height: 250px;
        width: 350px;
        border: 0px;
        border-radius: 25px;
    }


    /* ---BOTÃO--- */ 
    .compra a {
        padding: 7px 15px;
        border-radius: 15px;
        margin-bottom: 20px;
        font-size: 15px;
    }

     /* ---RAÇÕES--- */
    .container-black {
        width: 790px;
        height: 100%;
    }
    .titulo-global-b {
        padding-top: 50px;
    }
    .titulo-global-b h2{
        padding: 10px 0px;
        margin-bottom:50px ;
    }
    .racoes img {
        height: 180px;
        border-radius: 30px;
    }
    .racoes p {
        font-size: 16px;
        padding: 5px;
        margin-bottom:10px ;
    }
    

     /* ---MEDICAMENTOS--- */ 
    .titulo-global-c {
        padding-top: 20px;
    }
    .titulo-global-c h2{
        padding: 5px 0px;
        margin-bottom:50px ;
    }

    .medicamentos {
        width: 250px;
    }
    .medicamentos h3 {
        width: 130px;
        font-size: 18px;
    }
    .medicamentos img {
        height: 150px;
    }
    .medicamentos p {
        font-size: 13px;
        padding: 5px;
    }
    .bula {
        margin-top: 10px;
    }

    .bula a{
        font-size: 15px;
        padding: 5px 20px;
    }


    
     /* ---SUPLEMENTOS--- */ 
    .suplementos {
        width: 250px;
    }

    .suplementos h3 {
        font-size: 20px;
        width: 100px;
        margin-bottom: 10px;
    }
    .suplementos img {
        height: 150px;
        border-radius: 30px;
    }
    .suplementos p {
        font-size: 15px;
        padding: 5px;
        margin-bottom: 20px;
    }
    

    /* ---AGRO--- */ 
    .agro {
        width: 450px;
    }
    .agro h3 {
        font-size:20px ;
        width: 115px;
        margin-bottom: 10px;
    }
    .agro img {
        height: 170px; 
    }
    .agro p {
        font-size:15px;
        padding: 10px;
    }

    /* ---VACINA--- */ 
    .vacina {
        width: 280px;
    }
    .vacina h3 {
        font-size: 15px;
        width: 130px;
        margin-bottom: 10px;
    }
    .vacina img {
        height: 180px;
        border-radius: 30px;
        width: 180px;
    }
    .vacina p {
        font-size: 13px;
        padding: 5px;
    }


    /* ---RODAPÉ--- */ 
    footer {
        height: 115px;

    }
    .end {
        font-size: 10px;
        margin-top:15px ;
        gap: 30px;
    }
    .end img {
        height: 50px;
        width:200px;
        margin-right: 35px;
    }
    
    .ian {
        display: flex;
        margin-top: 75px;
        margin-left: 500px;
        width: 12%;
        font-family:cursive;
        font-size: 10px;
        color: white;
        position: absolute;
    }
}

@media screen and (min-width:1000px) and (max-width: 1300px) {
    /* ---IMAGME DE ENTRADA--- */
    .fundo-inicial{
        height:582px;
    }
    .fundo-inicial img {
        height: 582px;
    }
    .titulo-fundo{
        margin-left: 580px;
    }
    .titulo-fundo img{
        height: 130px;
        width: 330px;
    }
    .titulo-fundo1{
        position:absolute;
        margin-left: 1010px;
        margin-top: 550px;

    }
    .direitos a {
        padding: 5px;
        font-weight: 500;
        font-size: 15px;
    }

    .end img {
        height: 50px;
        width:200px;
        margin-left: 20px;
    }
    
    .ian {
        display: flex;
        margin-top: 70px;
        margin-left: 600px;
        width: 10%;
        font-family:cursive;
        font-size: 10px;
        color: white;
        position: absolute;
    }
}
